.venue_service {
  border: 1px solid #c7c7c7;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  height: 100% !important;
  padding: 24px 32px;
  margin-top: 120px !important;

  &-form {
    width: 100% !important;
  }
  &-section {
    &-1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px !important;
      &-title {
        color: #00293a !important;
        font-size: 28px !important;
        font-weight: 700 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
      }
      p {
        color: #00293a !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
        margin-bottom: 0px !important;
      }
      &-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 12px !important;
        column-gap: 24px;
        height: fit-content;
        .ant-col {
          .form__input-search {
            .ant-col-14 {
              max-width: 100% !important;
              .ant-form-item-control-input-content {
                border: 1px solid #00293a !important;

                input {
                  height: 72px;
                  border-radius: 0px !important;
                  border: none !important;
                  border-bottom: 1px solid #00293a !important;
                  background-color: #f7f8f9;
                  &::placeholder {
                    color: #8c8c8c !important;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "DM Sans", "system-ui", sans-serif;
                  }
                }
                button {
                  margin: 4px 4px;
                }
              }
            }
          }
        }
      }
    }

    &-2 {
      display: flex;
      flex-direction: column;
      &-title {
        color: #00293a !important;
        font-size: 20px !important;
        font-weight: 600 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
      }
      p {
        color: #00293a !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
      }
      span {
        color: #00293a !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
      }

      .form__input {
        .ant-col-14 {
          .ant-form-item-control-input-content {
            border: 1px solid #f7f8f9;
            input {
              height: 72px;
              border-radius: 0px !important;
              border: 8px !important;
              border: 1px solid #00293a !important;
              background-color: #f7f8f9;
              &::placeholder {
                color: #8c8c8c !important;
                font-size: 16px;
                font-weight: 400;
                font-family: "DM Sans", "system-ui", sans-serif;
              }
            }
          }
        }
      }
    }

    &-3 {
      display: flex;
      flex-direction: column;
      &-title {
        color: #00293a !important;
        font-size: 20px !important;
        font-weight: 600 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
      }
      p {
        color: #00293a !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
      }
      &-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 12px !important;
        column-gap: 24px;
        height: fit-content;
        .ant-col {
          .form__input {
            .ant-col-14 {
              max-width: 100% !important;
              .ant-form-item-control-input-content {
                border: 1px solid #f7f8f9;
                input {
                  height: 72px;
                  border-radius: 0px !important;
                  border: 8px !important;
                  border: 1px solid #00293a !important;
                  background-color: #f7f8f9;
                  &::placeholder {
                    color: #8c8c8c !important;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "DM Sans", "system-ui", sans-serif;
                  }
                }
              }
            }
          }
        }
      }
      .form__input {
        .ant-col-14 {
          .ant-form-item-control-input-content {
            border: 1px solid #f7f8f9;
            input {
              height: 72px;
              border-radius: 0px !important;
              border: 8px !important;
              border: 1px solid #00293a !important;
              background-color: #f7f8f9;
              &::placeholder {
                color: #8c8c8c !important;
                font-size: 16px;
                font-weight: 400;
                font-family: "DM Sans", "system-ui", sans-serif;
              }
            }
          }
        }
      }
    }
  }
}
