.space_service {
  margin-top: 120px !important;
  border: 1px solid #c7c7c7;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  height: 100% !important;
  &-form {
    width: 100% !important;
  }
  &-header {
    width: 100% !important;
    padding: 17px 19px !important;
    border-bottom: 1px solid #c7c7c7;
    color: #00293a !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    font-family: "DM Sans", "system-ui", sans-serif !important;
    margin-bottom: 32px;
  }
  &-section {
    &-title {
      margin-bottom: 0px !important;
      color: #00293a !important;
      font-size: 18px !important;
      font-weight: 400 !important;
      font-family: "DM Sans", "system-ui", sans-serif !important;
    }

    &-1 {
      padding: 0px 32px;
    }

    &-2 {
      display: flex;
      flex-direction: column;
      padding: 0px 32px;
      margin-bottom: 32px;
      .ant-table {
        margin-top: 24px;
        .ant-table-thead {
          .ant-table-cell {
            color: #00293a !important;
            font-size: 18px !important;
            font-weight: 600 !important;
            font-family: "DM Sans", "system-ui", sans-serif !important;
          }
        }
        .ant-table-tbody {
          .ant-table-row {
            .ant-table-cell {
              color: #00293a !important;
              font-size: 18px !important;
              font-weight: 400 !important;
              font-family: "DM Sans", "system-ui", sans-serif !important;
            }
          }
        }
      }
    }
  }
}
