@import "../../styles/mixins";
@import "../../styles/color.scss";

.header {
  font-family: $font_family_1 !important;
  width: 100% !important;
  height: fit-content !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row !important;
  padding: 0px 40px !important;
  &__form {
    width: 100%;
  }
  &__row {
    &-first {
      .row-first-right {
        display: flex;
        flex-grow: row;
        justify-content: flex-end;
        align-items: center;
        .right_content {
          display: flex;
          width: 100%;
          row-gap: 10px;
          column-gap: 15px;
          justify-content: flex-end;
        }
      }
      .row-first-left {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        column-gap: 21px;
      }
    }
    &-account {
      position: relative;
      width: 80px;
      height: 50px;
      box-shadow: $box_shadow_1;
      border-radius: 0px !important;
      color: $text_secondary_color_2 !important;
    }
    &-contact {
      width: 220px !important;
      height: 50px !important;
      padding: 12px 32px !important;
      border-radius: 0px !important;
      border: 1px solid $border_color_2 !important;
      background-color: $background_color_1 !important;
      span {
        color: $text_secondary_color_1 !important;
        font-family: $font_family_1 !important;
        font-weight: bold;
        font-size: 16px;
      }
    }
    &-item {
      &-login {
        width: 140px;
        height: 45px;
        padding: 12px 32px !important;
        background-color: $background_color_1 !important;
        color: $text_secondary_color_1 !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        font-family: $font_family_1 !important;
        text-align: center !important;
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
        border: 1px solid $border_color_2 !important;
        margin: 0px 8px !important;
      }
      &-register {
        width: 140px;
        height: 45px;
        padding: 12px 32px !important;
        color: $text_secondary_color_2 !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        font-family: $font_family_1 !important;
        text-align: center !important;
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
        border: 1px solid $border_color_2 !important;
        margin: 0px 8px !important;
      }
    }
    &-logo {
      cursor: pointer;
    }
  }
  &__tab {
    .ant-tabs {
      .ant-tabs-ink-bar {
        background-color: $background_color_1 !important;
      }
      &-nav {
        margin-bottom: 0px !important;
      }
      &-tab {
        color: black !important;
        font-family: $font_family_1 !important;
        font-size: 22px !important;
        font-weight: 600 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
        &-active {
          .ant-dropdown-trigger {
            color: #00609c !important;
            font-family: $font_family_1 !important;
            font-size: 22px !important;
            font-weight: 600 !important;
            font-family: "DM Sans", "system-ui", sans-serif !important;
          }
          .ant-tabs-tab-btn {
            color: #00609c !important;
            font-family: $font_family_1 !important;
            font-size: 22px !important;
            font-weight: 600 !important;
            font-family: "DM Sans", "system-ui", sans-serif !important;
          }
        }
      }
    }
  }
  &__dropdown {
    .ant-dropdown-menu {
      width: 220px !important;
      height: fit-content !important;
      padding: 0px !important;
      border-radius: 0px !important;
      &-item {
        height: 48px !important;
        border-bottom: 1px solid $border_color_2 !important;
        border-radius: 0px !important;
        &:last-child {
          border-bottom: none !important;
        }
      }
    }
  }
  &_account {
    position: absolute;
    z-index: 1000;
    width: 820px;
    height: fit-content !important;
    top: 80px;
    right: 0px;
    background-color: white !important;
    border-radius: 24px !important;
    border: 1px solid $border_color_1 !important;
    box-shadow: $box_shadow_1;
    .ant-col {
      padding: 32px 32px !important;
    }
    &-profile {
      background-color: #ebeef2 !important;
    }
    &-title {
      color: #00609c !important;
      font-family: $font_family_1 !important;
      font-family: $font_family_1 !important;
      font-size: 22px !important;
      font-weight: 600 !important;
      font-family: "DM Sans", "system-ui", sans-serif !important;
    }
    &-venue {
      span {
        color: $text_secondary_color_2 !important;
        font-family: $font_family_1 !important;
        font-size: 22px !important;
        font-weight: 600 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
      }
    }
    &-option {
      height: 48px !important;
      padding: 8px 0px !important;
      color: $text_secondary_color_2 !important;
      font-family: $font_family_1 !important;
      font-size: 22px !important;
      font-weight: 600 !important;
      font-family: "DM Sans", "system-ui", sans-serif !important;
      &:focus {
        color: #00609c !important;
        text-decoration: none;
        background-color: #fff !important;
        cursor: pointer;
      }
      &:hover {
        color: #00609c !important;
        text-decoration: none;
        background-color: #fff !important;
        cursor: pointer;
      }
    }
  }
  &_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px !important;
    padding: 0px 0px 24px 0px !important;
    border-bottom: 1px solid $border_color_2 !important;
    .ant-image {
      width: 40px !important;
      height: 40px !important;
      margin-bottom: 0px !important;
      margin: 0px 12px !important;
      &-img {
        border-radius: 50% !important;
      }
    }
    &-info {
      height: 50px !important;
      margin-left: 10px;
      p {
        margin-bottom: 0px !important;
        font-family: $font_family_1 !important;
        font-weight: 500 !important;
        font-size: 16px !important;
      }
    }
  }
}
