$text_secondary_color_1: #ffffff;
$text_secondary_color_2: #161617;
$text_secondary_color_3: #e52500;

$background_color_1: #e52500;
$background_color_2: #000001;
$background_color_3: #f8f9fa;
$background_color_4: #00293a;

$border_color_1: #c7c7c7;
$border_color_2: #e52500;
$border_color_3: #dcdcdc;

$box_shadow_1: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

$font_family_1: "Roboto", sans-serif;

$primary_color: #007bff;
$secondary_color: #6c757d;
$success_color: #28a745;
$danger_color: #dc3545;
$warning_color: #ffc107;
$info_color: #17a2b8;
$light_color: #f8f9fa;
$dark_color: #343a40;
