.venue_detail {
  border: 1px solid #c7c7c7;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  height: 100% !important;
  padding: 24px 32px;
  margin-top: 120px !important;

  &-form {
    width: 100% !important;
  }

  &-section {
    &-head {
      position: fixed;
      top: 120px;
      left: 430px;
      right: 50px;
      border: 1px solid #c7c7c7;
      background-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 18px;
      padding: 24px;
      z-index: 2000;
      .form__select {
        .ant-form-item {
          margin-bottom: 0px !important;
          width: fit-content;
          .ant-select-selector {
            border: none !important;
            background-color: white;
            .ant-select-selection-item {
              color: #00293a !important;
              font-size: 18px !important;
              font-weight: 600 !important;
              font-family: "DM Sans", "system-ui", sans-serif !important;
            }
          }
        }
      }
      &-title {
        color: #c7c7c7 !important;
        font-size: 12px !important;
        font-weight: 600 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
        padding-inline-end: 12px;
      }
      &-preview {
        border: none !important;
        box-shadow: none !important;
        background-color: white !important;
        color: #007bff !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
      }
      &-save {
        border: none !important;
        box-shadow: none !important;
        background-color: #00293a !important;
        color: white !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
      }
    }
    &-1 {
      display: flex;
      flex-direction: column;
      &-title {
        color: #00293a !important;
        font-size: 28px !important;
        font-weight: 700 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
      }
      p {
        color: #00293a !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
      }
    }

    &-2 {
      column-gap: 18px !important;
      &-title {
        color: #00293a !important;
        font-size: 18px !important;
        font-weight: 600 !important;
        font-family: "DM Sans", "system-ui", sans-serif !important;
        margin-bottom: 0px !important;
      }
      &-detail {
        .ant-col-14 {
          max-width: 100% !important;
          .ant-form-item-control-input-content {
            .ant-input {
              height: 52px;
              border-radius: 8px !important;
              border: none !important;
              background-color: #f7f8f9;
              border: 1px solid #00293a !important;
              &::placeholder {
                color: #8c8c8c !important;
                font-size: 16px;
                font-weight: 400;
                font-family: "DM Sans", "system-ui", sans-serif;
              }
            }
          }
        }
      }
      .form__input {
        .ant-col-14 {
          max-width: 100% !important;
          .ant-form-item-control-input-content {
            input {
              height: 52px;
              border-radius: 8px !important;
              border: none !important;
              background-color: #f7f8f9;
              border: 1px solid #00293a !important;
              &::placeholder {
                color: #8c8c8c !important;
                font-size: 16px;
                font-weight: 400;
                font-family: "DM Sans", "system-ui", sans-serif;
              }
            }
          }
        }
      }

      &-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 32px;
        img {
          border-radius: 12px;
          box-shadow: -2px 2px 20px 0px #0000001f;
        }
        p {
          color: #00293a !important;
          font-size: 14px !important;
          font-weight: 400 !important;
          font-family: "DM Sans", "system-ui", sans-serif !important;
          width: 230px;
          padding-inline-start: 12px;
        }
      }
    }
  }
}
